.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  background-color: hsla(195, 53%, 79%);
}

.navbar a {
  position: relative;
  font-size: 28px;
  font-weight: 90;
  text-decoration: none;
  color: black;
}

.navbar .icons-container {
  margin-left: auto;
}
.navbar .icons {
  padding: 0px 15px;
}

.navbar .icons:hover {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.459);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;

  backdrop-filter: blur(8px);
  transition: 0.5s;
}
.sidebar a:hover {
  background-color: white;
}

.sidebar a {
  width: auto;
  font-size: 40px;
}

.menu-button {
  display: None;
}
.icons-small {
  display: None;
}

.navitems {
  margin: 6px;
  padding: 6px;
}
.navitems:hover {
  border: 2px solid #000;
  margin: 4px;
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 320px) {
  .icons {
    display: none;
  }

  .icons-small {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
}
