/* -------------------- info card --------------- */
.card-container {
  background-color: white;
  display: flex;
  width: 55%;
  margin: auto;
  border-radius: 5px;
  height: auto;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  transition: 0.5s;
  margin-bottom: 60px;
}

.card-container img {
  width: 20%;
  height: 80%;
  margin: 30px;
  border-radius: 45px;
}

.card-text-container {
  height: 100%;
  width: 100%;
  background-color: blue;
  border-radius: 5px;
  text-align: left;
}

/* .card-container:hover {
    height: 330px;
    width: 58%;
  } */

.card-text-container p,
.card-text-container h1,
.card-text-container h3 {
  background-color: white;
  text-align: left;
}

.card-text-container h1 {
  font-size: 35px;
}

@media (max-width: 992px) {
  .card-text-container h1 {
    font-size: 25px;
  }
  .card-text-container h3 {
    font-size: 15px;
    font-weight: 200;
  }
  .card-text-container p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .card-container img {
    margin: auto;
    padding: 5%;
  }
  .card-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .card-text-container h1 {
    color: green;
  }
}
