* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightblue;
}
.header {
  position: fixed; /* Ensure the header stays at the top */
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section {
  text-align: center;
  font-size: 75px;
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  background-color: hsla(195, 53%, 79%);
}

.navbar a {
  position: relative;
  margin: 0 15px;
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.navbar a::before {
  content: "";
  background: black;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* -------------------- profile --------------- */

.profile-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.profile-container div {
  padding: 10%;
}
.profile-container span {
  color: rgb(28, 151, 12);
}
.profile-container h1 {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-container {
  margin-left: 5%;
}

.image-container {
  margin-right: 10%;
  margin-left: -10%;
}
.profile-container p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.circular-image {
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 10px 5px 25px rgb(114, 113, 113);
  transition: 0.5s;
  margin-top: -50px; /* Adjust margin-top to move the image up */
}

.circular-image:hover {
  box-shadow: 10px 5px 100px rgb(235, 233, 149);
}

/* contact section */
.form-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 45px;
  border-radius: 45px;
  width: 70%;
  height: 600px;
}

.form-container p {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 75px;
}

.form-container input,
.form-container textarea {
  margin-right: 10px;
  background-color: white;
  border: None;
  outline: None;
  box-shadow: 0px 1px rgb(114, 113, 113);
}

.form-container input {
  text-align: center;

  height: 30px;
  width: 22.5%;
  font-size: 30px;
}

.form-container textarea {
  font-size: 30px;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.form-container button {
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: auto;
}

input:hover {
  background-color: rgb(228, 228, 228);
}

textarea:hover {
  background-color: rgb(228, 228, 228);
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
