* {
  background-color: lightblue;
}
.header {
  background-color: white;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navbar a {
  position: relative;
  margin-left: 30px;
  font-size: x-large;
  text-decoration: none;
}

.navbar a::before {
  content: "";
  background: black;
  position: absolute;
  width: 0%;
  height: 2px;
  top: 100%;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* -------------------- profile --------------- */

.profile-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.profile-container div {
  padding: 10%;
}
.profile-container span {
  color: rgb(28, 151, 12);
}
.profile-container h1 {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
}
.content-container {
  margin-left: 5%;
}

.image-container {
  margin-right: 10%;
  margin-left: -10%;
}
.profile-container p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.circular-image {
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 10px 5px 25px rgb(114, 113, 113);
  transition: 0.5s;
  margin-top: -50px; /* Adjust margin-top to move the image up */
}

.circular-image:hover {
  box-shadow: 10px 5px 100px rgb(235, 233, 149);
}

/* -------------------- info card --------------- */
.card-container {
  background-color: white;
  display: flex;
  width: 55%;
  margin: auto;
  border-radius: 45px;
  height: 300px;
  justify-content: left;
  align-items: center;
  flex-direction: row;

  transition: 0.5s;
}

.card-container:hover {
  height: 330px;
  width: 58%;
}

.card-container img {
  width: 200px;
  height: 80%;
  margin: 30px;
  border-radius: 45px;
}

.card-text-container {
  height: 100%;
  background-color: white;
  margin-right: 50px;
  flex-direction: column;
  column-gap: 222px;
}

.card-text-container p,
.card-text-container h1,
.card-text-container h3 {
  background-color: white;
}

.card-text-container h1 {
  font-size: 35px;
}
