* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: lightblue;
}

.section {
  padding-top: 5%;
  text-align: center;
  font-size: 75px;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

.screen-view {
  padding-top: 0.5%;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .section {
    font-size: 8vw;
  }
}
